<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<form id="form-upload-store" action="/fiware/upload" method="post" enctype="multipart/form-data">
    <input type="file" id='fileInput' name="upload_to_object_store" multiple>
    <input  id="upload" type="submit" value="Upload">
</form>

<div id="filelist-fiware_<%= list.id %>">
</div>

<script>
    (function(){
        
        var file,binary,blob;
        

        $('#form-upload-store').ajaxForm(function(result) {
            $('#upload').attr('disabled','disabled');
            console.log('the form was successfully processed');
        });
                         
        $("#fileInput").on('change', function(e) {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function(e) {
                 console.log("onload");
                
                binary = reader.result;

            };
            
            reader.onprogress = function(e) {
              console.log("Progess");
            };
            
            reader.onabort = function(e) {
              console.log("onabort");
            };
            
            reader.onloadend = function(e) {
              console.log("End");
            };
            reader.onloadstart = function(e) {
                 console.log("onloadstart");
    
            };
            reader.onerror = function(e) {
                console.log("onerror");

    
            };
            if(file) 
                reader.readAsBinaryString (file);
        });
    

    
    var createfileList = function () {
        $('#upload').attr('disabled',false);

        $.get( '<%= list.url %>', function( data ) {
        var body = '';
        $('#filelist-fiware_<%= list.id %>').html('');
        for (i = 0; i < data.length; i++) { 
            body += '<tr><td>' + data[i] + '<td>';
            body += '<td><button value = "' + data[i] + '" class="delete-from-fiware-cloud" class="delete-fiware-obejct" id="id-'+ data[i] +'">Delete</button></td>';
            body += '<td><a href="<%= list.downloadUrl %>/' + data[i] + '" download><button value = "' + data[i] + '" class="download-from-fiware-cloud" class="delete-fiware-obejct" id="id-'+ data[i] +'">Download</button></a></td>';
            body += '<td><img height="100px" src="<%= list.downloadUrl %>/' + data[i] + '" ></a></td>';
            body += '</tr>';
        }
        if(data.join(',').length  > 0)
            $('#filelist-fiware_<%= list.id %>').html('<table>'+ body +'</table>');

        $( '.delete-from-fiware-cloud ').unbind('click').bind('click',function( e ) {
            $(this).attr("disabled","disabled");
             e.preventDefault();
             $.get( '<%= list.deleteUrl %>/' + $(this).val(), function( data ) {
                 console.log('delete requested');

             });


         });


        });
    }

    
    createfileList();
    window.setInterval(function(){
        createfileList();
      /// call your function here
    }, 2000);

        
})();
    
</script>